html {
    height: 100%;
    width: 100%;
    overflow:auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
body {
  height: 90%;
  width: 90%;
  margin: 0px;
  padding: 5%;
  padding-bottom: 0px;

  background-color: #f2f2f5;
  display: flex;
  flex-direction: column;
}

#task-entry {
  border-radius: 5px;
  width: 100%;
  height: 25px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  margin: 2%;
}


#info {
  margin: 5px;
  text-align: left;
  align-content: center;
  font-size: inherit;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-entry > input[type="text"]:hover {
    background-color: lightgray;
}

.checkbox{
    display: block;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 50%;
    border: solid;
    aspect-ratio: 1 / 1 ;
    margin: 1%;
}

.checkbox > input[type="checkbox"] {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  opacity: 0%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0%;
}

.checkmark {
    opacity: 0%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover {
  background-color: lightgray;
}

/* Show the checkmark when checked */
.checkbox input[type="checkbox"]:checked ~ .checkmark {
    opacity: 100%;
}

.checkbox .checkmark{
    background-color: black;
    z-index: 0;
    align-self: center;
    width: 100%;
    aspect-ratio: 1 /1 ;
}

/* Style the checkmark/indicator 
.checkbox .checkmark {
  z-index: 0;
  align-self: center;
  justify-self: center;
  position: absolute;
  margin: 20%;
  width: 20%;
  height: 50%;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
*/

#add-box {
  border: 1px solid black;
  position:fixed;
  bottom: 5px;
  width: 90%;
  text-align: center;
  background-color: white;
  font-size: x-large;
  border-radius: 5px;
}

#add-box:hover {
  background-color: lightgrey;
}

#add-box:active {
    background-color: grey;
}