html {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
svg {
  height: 100%;
  width: 100%;
}

menu {
  height: 5vh;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  border-bottom: .5px solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #F2F2F4;
}

menu > li.button {
   height: 100%;
   aspect-ratio: 1/1;
}

menu > li > button {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: #F2F2F4;
}

menu >li > button:hover {
    background-color: lightgray;
    border-radius: 5px;
}

menu >li > button:active {
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
}

aside {
  flex-shrink: 0;
  width: 19vw;
  border-right: 1px solid black;
  display: none;
  flex-direction: column;  
}
aside > article{
  height: calc(100%/3);
  width: 100%;
}

aside > #event-list{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}


main > #entries {
  flex-shrink: 0;
  width: 40%;
  border-right: 1px solid black;
}

main > #entries > menu > #search-bar {
  height: 100%;
  flex-grow: 1;
}

main > #entries > menu > #search-bar > input[type="text"]{
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;

}

main > #canvas {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > #canvas > menu > #mode-info {
    flex-grow: 1;
    text-align: center;
    align-content: center;
}

main > #canvas > #editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.CodeMirror {
    flex-grow: 1;
}
