html {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

svg {
  height: 100%;
  aspect-ratio: 1/1;
}

menu {
  height: 5vh;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  border-bottom: .5px solid black;
}

menu > button,
#conditional-buttons > button {
    background-color: #F2F2F4;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    border: 0;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

menu > button:hover,
#conditional-buttons > button:hover {
    background-color: lightgray;
    border-radius: 5px;
}

menu > button:active,
#conditional-buttons > button:active {
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
}



aside {
  flex-shrink: 0;
  width: 19vw;
  border-right: 1px solid black;
  display: none;
  flex-direction: column;  
}
aside > article{
  height: calc(100%/3);
  width: 100%;
}

aside > #event-list{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}


main > #entries {
  width: 40%;
  border-right: 1px solid black;
}

main > #entries > menu {
  display: flex;
  flex-direction: row;
}

#searchJournal {
  flex-grow: 1;
  overflow: hidden;
  gap: 1%;
}

/* Note: This works on safari but not on chrome - the container gets overtaken by */
main > #entries > menu > #conditional-buttons {
  display: flex;
}

main > #canvas {
  flex-grow: 1;
}


/* aside{
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3,repeat(100%/3));
} */